<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <title th:text="${todayEntries[0].topic.name}" ></title>
  <style>
    .inner-border::-webkit-scrollbar {
      display: none;
    }
    .sourtext{
      color: #333333;
      text-decoration: none;
    }
  </style>
</head>
<body>
<div class="container-fluid d-flex flex-column flex-grow-1 vh-100 overflow-hidden">

  <div class="d-flex flex-row justify-content-around">
    <div class="p-2">
      <img class="navbar-brand" src="https://ekstat.com/img/new-design/eksisozluk_logo.svg" style="width:60%">
    </div>
    <div class="p-2 w-25">
      <div class="input-group mb-3">
        <input type="text" class="form-control form-input" style="border: #81C14B solid 1px;" placeholder="mükemmeli ara">
        <button style="background-color: #81C14B; border: #81C14B;" class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>

      </div>
    </div>
    <div class="p-2">
      <a class="sourtext mx-2" href="#">giriş yap</a>
      <a class="sourtext mx-2" href="#">kayıt ol</a>


    </div>
  </div>
  <div class="d-flex flex-row justify-content-around">
    <a class="sourtext" href="#">gündem</a>
    <a class="sourtext" href="#">debe</a>
    <a class="sourtext" href="#">sorunsallar</a>
    <a class="sourtext" href="#">#spor</a>
    <a class="sourtext" href="#">#ilişkiler</a>
    <a class="sourtext" href="#">#siyaset</a>
    <a class="sourtext" href="#">...</a>
  </div>
  <hr>

  <div class="row flex-grow-1 overflow-hidden">
    <div class="col-3 mh-100 overflow-auto py-2 inner-border">
      <div class="col-3 mh-100 overflow-auto py-2 inner-border">
        <ul style="list-style-type: none;" th:each="tempTopic: ${todayTopics}">
          <li><a class="sourtext" th:text="${tempTopic.name}" th:href="@{/topic/today/{id}(id=${tempTopic.id})}"></a></li>
        </ul>
      </div>
    </div>
    <div class="col mh-100 overflow-auto py-2 inner-border">
        <h4 th:text="${todayEntries[0].topic.name}"></h4>
          <div th:each="tempEntry : ${todayEntries}">
            <p th:text="${tempEntry.content}"></p>
            <p class="justify-content-end" th:text="${tempEntry.user.username}" style="text-align: right"></p>
            <p class="justify-content-end" th:text="${tempEntry.createdDate}" style="text-align: right"></p>
            <br>
          <div/>

    </div>
  </div>
</div>
<div class="row flex-shrink-0 bg-light">
  <div class="col-12 py-2">
    <hr>
    <p>Footer ...</p>
  </div>
</div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>